button {
  height: 40px;
  width: 100px;
  font-size: 22px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 8px;
  background-color: white;
  font-weight: 600;
}

.button_g:hover {
  background-color: rgb(88, 244, 88);
}
.button_n:hover {
  background-color: rgb(205, 203, 203);
}
.button_b:hover {
  background-color: rgb(249, 53, 53);
}

.statistics {
  font-size: 33px;
}
